@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar{ /*oculta  a barra de rolagem da tela*/
    display: none;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky; /*deixa o header fixo*/
    top: -2px; /*diminue o tamanho do header*/
    background-color: rgb(44, 43, 42);
    z-index: 1;
}

.logo img{
    width: 170px;
    transition: linear transform 0.1s;
}

.logo img:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.search-camp{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.search-camp input{
    border: 0;
    width: 100%;
    padding: 10px 10px;
    border-radius: 10px;
}

.search-camp input:focus{
    outline: none;
}

.search-camp img{
    width: 25px;
    padding: 2px;
    transition: linear transform 0.1s;
    margin-right: 5px;
}

.search-camp img:hover{
    cursor: pointer;
    transform: scale(1.05s);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

nav a:hover{
    color: #888787d8;
    transition: background, color 0.1s;
}

nav button{
    border: 1px solid;
    background-color: transparent;
    padding: 8px 40px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 6px;
    color: white;
}

nav button:hover{
    transition: background, color 0.6s;
    background-color:#888787d8 ;
}

.menu-mobile{
    display: none;
}

/*Catalogo de produtos*/

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
     
}

.title-catalog{
   padding: 50px 0 70px 0;
}

.linha{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card_item{
    margin: 10px 10px;
    width: 330px;
    height: 500px;
    background: rgb(230, 226, 226);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: linear transform 0.1s, box-shadow 0.1s;
}

.card_item:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.img_moto{
    width: 330px;
}

.card-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}

.card_item h3{
    padding: 10px 0;
}

.card_item p{
    height: 100px;
    margin: 10px 0 30px 0;
    font-weight: bold;
    overflow: scroll;
    color: #000000e5;
}

.card_item p::-webkit-scrollbar{
    display: none;
}

.card_item button{
    width: 100%;
    padding: 15px 0px;
    border: none;
    background: rgb(148, 18, 18);
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    transition: 0.2s ease;
    margin-bottom: 10px;
}

.card_item button:hover{
    background: rgb(202, 10, 10);
    color: rgb(0, 0, 0);
}

/*Rodapé*/

footer{
  margin-top: 150px;
}

.main-footer{
    display: flex;
    justify-content: space-around;
    padding: 20px 0 100px 0;
    background: rgb(56, 55, 55);
   
}

.footer_company, .footer_business, .footer_contact, .footer_social{
    color: rgb(0, 0, 0);
    height: 100%;
    min-height: 100px;
    font-weight: bold;
}

.links_footer h4{
    margin-bottom: 10px;
}

.links_footer h6{
    margin-bottom: 8px;
}

.main-footer .footer_social img{
    width: 32px;
    height: 32px;
}

.last{
     height: 50px;
     background: red;
     color: rgb(0, 0, 0);
     display: flex;
     align-items: center;
     justify-content: center;
     font-weight: bold;
}

/*Ajustes responsivos*/

@media (max-width: 700px){
    .desktop-menu{
        display: none;
    }

    .menu-mobile{
        display: flex;
    }

    .main-footer{
        flex-direction: column;
    }

    .main-footer div{
        margin: 20px;
    }
}

@media (max-width: 400px){
    .card_item{
        width: 200px;
        height: auto;
    }

    .card_item img{
        width: 100%;
    }

    .search-camp{
        display: none;
    }
}
